@font-face {
    font-family: 'KoPub Batang';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KoPubBatang/KoPubBatang-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KoPubBatang/KoPubBatang-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'KoPub Batang';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KoPubBatang/KoPubBatang-Medium.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KoPubBatang/KoPubBatang-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'KoPub Batang';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KoPubBatang/KoPubBatang-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KoPubBatang/KoPubBatang-Bold.ttf') format('truetype');
}
